body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    /* background:linear-gradient(90deg,#48CAE4,#90E0EF 10%,#ADE8F4 30%,#CAF0F8 43%,#ADE8F4 58%,#90E0EF 89%,#48CAE4 98%); */
    background-image: url(../images/AdobeStock_60814564.jpeg)
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0.3rem;
    border-bottom: 10px solid black;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    /* background:linear-gradient(-60deg,#CAF0F8,#ADE8F4 10%,#90E0EF 30%,#48CAE4 43%,#90E0EF 58%,#ADE8F4 89%,#ffb700 98%); */
}

/* form card---------------------------------------------------------- */
#form-card{
    padding-bottom:40px;
}

#wfl {
    font-size: 45px;
}

#wtg {
    font-size: 30px;
}

#city-weather-card {
    padding-bottom: 100px; 
}
 
#city-card {
    font-size: 40px;
}

#search-history {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#current-w-card {
    font-size: 40px;
}

location-card {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

#search-history {
    display:flex;
    flex-direction: column;
    align-items: center;
}



/* Daily forecast cards ------------------------------------------------- */
.forecast-card {
    padding-top: 20px;
    padding-bottom: 40px;
    /* background-color: #e9ecef;
    opacity: 50%; */
}

ul {
    list-style-type: none;
}

button {
	/* box-shadow: 10px 10px 22px -5px #050505; */
	background-color:transparent;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
button:hover {
	background-color:transparent;
}
button:active {
	position:relative;
	top:1px;
}

.green {
    background-color: #77dd77;
    color: white;
}

.yellow {
    background-color: #e7a60d;
    color: white;
}
  
.red {
    background-color: #ff6961;
    color: white;
}
  
